@import '../node_modules/vue-material/dist/theme/engine.scss';

@include md-register-theme('default',
    (
        primary: rgb(32, 209, 112),
        accent: rgb(27, 26, 26),
    )
);

@include md-register-theme('night-time',
    (
        primary: rgb(32, 209, 112),
        accent: rgb(27, 26, 26),
        theme: dark
    )
);


@import "../node_modules/vue-material/dist/theme/all.scss";
@import "../node_modules/vue-material/dist/components/MdLayout/variables.scss";


.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-around{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.error-span{
    color: red;
    display: block;
}

@keyframes rotateZ{
    from{
        transform: rotateZ(0deg)
    }
    to{
        transform: rotateZ(360deg)
    }
}
@keyframes empty {
    25%{
        transform: translate(-3px, -3px) rotateZ(135deg);
    }
    75%{
        transform: translate(3px, 3px) rotateZ(135deg);
    }
    from, to{
        transform: translate(0, 0) rotateZ(135deg);
    }
}

.higher-overlay{
    z-index: 99998 !important;
}

.md-button:not(.md-icon-button){
    border-radius: 0 10px;
}

.md-button.md-primary.md-raised, .md-toolbar.md-primary, .md-card.md-primary, .md-bottom-bar{
    background: rgb(245, 37, 228),
}
